---
// Import the necessary components
//import { Image } from "astro:assets"
import MainLayout from "@/layouts/MainLayout.astro";
import HeroSection from "@components/sections/landing/HeroSection.astro";
import HeroSectionAlt from "@components/sections/landing/HeroSectionAlt.astro";
import ClientsSection from "@components/sections/landing/ClientsSection.astro";
import FeaturesGeneral from "@components/sections/features/FeaturesGeneral.astro";
import FeaturesNavs from "@components/sections/features/FeaturesNavs.astro";
import TestimonialsSection from "@components/sections/testimonials/TestimonialsSection.astro";
import PricingSection from "@components/sections/pricing/PricingSection.astro";
import FAQ from "@components/sections/misc/FAQ.astro";
import AnnouncementBanner from "@components/ui/banners/AnnouncementBanner.astro";
import heroImage from "@images/hero-image.png";
import faqs from "@data/faqs.json";
import features from "@data/features.json";
//import splash from "@images/splash-image.avif";
import pricing from "@data/pricing.json";
import featureImage from "@images/features-image.avif";
import construction from "@images/construction-image.avif";
import tools from "@images/automated-tools.avif";
import dashboard from "@images/dashboard-image.avif";

const avatarSrcs: Array<string> = ["https://midastech.s3.us-east-2.amazonaws.com/splash-image.avif"];

---

<MainLayout>
  <AnnouncementBanner
    btnId="dismiss-button"
    btnTitle="Explore MidasTech on Instagram"
    url="https://instagram.com"
  />

  <HeroSection
    title=`<span class="text-green-400 dark:text-green-400">MIDAS</span><br />
        <span class="text-yellow-500 dark:text-yellow-400">TECH</span>`
    subTitle="A pioneering solar and wind energy as a service company dedicated to transforming Africa's energy landscape."
    primaryBtn="Start Exploring"
    primaryBtnURL="/products"
    secondaryBtn="Contact Sales Team"
    secondaryBtnURL="/contact"
    withReview={true}
    avatars={avatarSrcs}
    rating=`<span class="font-bold">4.8</span> / 5`
    starCount={4}
    reviews=`From Over <span class="font-bold">12.8k</span> Reviews`
    src={heroImage}
    alt="Stack of MidasTech product boxes containing assorted hardware tools"
  />
  
  <ClientsSection
    title="VISION & MISSION"
    subTitle="To lead the transformation towards a clean, renewable energy future in Nigeria and beyond.\n Empowering communities with reliable, sustainable solar and wind energy solutions."
  />

  <FeaturesGeneral
    title="Meeting Consumer Demands"
    subTitle="At Midas Tech, we understand the diverse energy requirements of our consumers and the pressing need for affordable, clean energy. Our mission is to provide highly available, cost-effective, and sustainable energy solutions. By leveraging the power of solar and wind technologies, we are committed to delivering reliable energy to our esteemed consumers, empowering communities, and providing innovative solutions that not only reduce energy costs but also contribute to the preservation of our environment and foster economic growth across the continent."
    src={featureImage}
    alt="MidasTech products in floating boxes"
    features={features}
  />

  <FeaturesNavs
    title=`At <span class="text-yellow-500 dark:text-yellow-400">MidasTech</span> we believe in a comprehensive and customer-centric approach to delivering renewable energy solutions. `
    tabs={[
      {
        heading: "Consultations:",
        content:
          "We start with an in-depth consultation to understand your specific energy needs and goals. Our experts assess your property, analyze your current energy usage, and discuss the various options available to you. This personalized approach ensures that we can recommend the most suitable solution for your requirements.",
        svg: "dashboard",
        src: tools,
        alt: "Yellow and black heavy equipment on brown grass field",
        first: true,
      },
      {
        heading: "Design:",
        content:
          "Based on the initial consultation, our team of engineers and designers create a customized solar or wind energy system tailored to your needs. We take into account factors such as your energy consumption patterns, property layout, and budget to design an efficient and effective solution. Our detailed designs include system specifications, projected energy savings, and a clear implementation plan.",
        svg: "dashboard",
        src: dashboard,
        alt: "A screenshot or graphic representation of the intuitive dashboard",
        second: true,
      },
      {
        heading: "Installation:",
        content:
          "Once the design is finalized and approved, our skilled technicians handle the complete installation process. We use high-quality materials and equipment to ensure the longevity and efficiency of your system. Our installation process is efficient, minimally disruptive, and adheres to the highest safety standards. We manage everything from securing necessary permits to final inspections.",
        svg: "tools",
        src: tools,
        alt: "Gray metal building frame near tower crane during daytime",
      },
      {
        heading: "Support:",
        content:
          "After installation, we provide ongoing support to ensure your system operates at peak performance. Our customer support team is available to answer any questions, provide maintenance, and address any issues that may arise. We offer regular system check-ups and performance monitoring to ensure your energy solution continues to meet your needs.",
        svg: "house",
        src: construction,
        alt: "Gray metal building frame near tower crane during daytime",
      },
    ]}
  />

  <TestimonialsSection
    title="Benefits of Using Solar with Midas Tech"
    subTitle="Solar systems require minimal maintenance, giving you peace of mind and hassle-free operation for years to come."
    ;
    testimonials={[
      {
        content:
          " Installing solar panels can increase the value of your property, making it more attractive to potential buyers.",
        author: "Donnell Robinson",
        role: "Chief Executive Officer | Golden Beauty LTD.",
        avatarSrc:
          "https://midastech.s3.us-east-2.amazonaws.com/splash-image.avif",
      },
    ]}
    statistics={[
      {
        count: "20k+",
        description:
          "Total Off-Grid  — from epileptic to stable power supply",
      },
      {
        count: "90%",
        description:
          "Service Availability: Over 90% up-time annually.",
      },
      {
        count: "0.01%",
        description:
          "Mean Time Between Failures (MTBF): 5000 hours.",
      },
      {
        count: "2x",
        description: "Mean Time to Repair (MTTR): 5 hours.",
      },
    ]}
  />

  <PricingSection pricing={pricing} />

  <FAQ title="Frequently<br />asked questions" faqs={faqs} />

  <HeroSectionAlt
    title="we understand the diverse energy requirements of our consumers"
    subTitle="Choose MidasTech as your trusted partner in renewable energy and experience the numerous benefits of sustainable, reliable, and cost-effective power solutions."
    url="https://linkedIn.com"
  />
</MainLayout>
